body {
	background-image: url(planks_oak.png);
	background-size: 2%;}

h1 {
	color:white;
	font-size: 24pt;
	background-image: url(Меню-3.jpg);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;



	}

h2 {
	color:white;
	font-size: 20pt;
	padding-left: 15px;
	background-image: url(Меню-3.jpg);
	background-size: contain;
	background-position: left;
	background-repeat: no-repeat;


	}


h2.video {
	background-position: center;

}

/* li{
	color:white;
	font-size: 20pt;
	position:fixed;
	padding: 0% 85%;
	display: block;
	overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
	line-height: 1.7;

} */

li{
	color:white;
	font-size: 20pt;

}


p {
	color:white;
	font-size: 20pt;
	background-image: url(planks_big_oak.png);
	background-position: center;
	background-size: 2%;

	}

A {
	color: gray; /* Цвет ссылок */
	}
A:visited {
	color: gray; /* Цвет посещенных ссылок */
	}
A:active {
	color: gray; /* Цвет активных ссылок */

}

A.list {
	color: white; /* Цвет ссылок */
	}

a.myimg {
	background: url(images/5opka/m1.jpg);
	display: block;
	background-repeat: no-repeat;
	height: 500px;
	background-size: contain;
	background-position:bottom;


}

a.myimg:hover{
	background: url(images/5opka/m2.jpg);
	display: block;
	background-repeat: no-repeat;
	height: 500px;
	background-size: contain;
	background-position:bottom;

}


a.myimg2 {
	background: url(images/5opka/im3.jpg);
	display: block;
	background-repeat: no-repeat;
	height: 500px;
	background-size: contain;
	background-position:bottom;


}

a.myimg2:hover{
	background: url(images/5opka/im4.jpg);
	display: block;
	background-repeat: no-repeat;
	height: 500px;
	background-size: contain;
	background-position:bottom;

}

video{
	margin:0px auto;

}

.container {
	display: flex;
	flex-direction: row;
	flex-wrap:wrap;
	justify-content: space-around;
	border: 5px solid black;
	padding: 20 px;
	padding-top: 20px;
	align-content: flex-start;


	background-image: url(planks_big_oak.png);
	background-position: center;
	background-size: 2%;
}

.con1, .con2, .con3, .con4, .con5, .con6 {
	width: 400px;
	/* border: 2px solid black; */
	height:150px;

}

.con1, .con2, .con3{
	margin-bottom: 20px;

}


.con1 {
	height: 864px;
	border: 2px solid black;
	padding-top: 20px;

	color:white;
	font-size: 20pt;
	background-image: url(images/5opka/log_spruce.png);
	background-position: center;
	background-size: 10%;

}

.con2 {
	height: 864px;
	width: 1080px;
}

.con7 {
	padding-top: 50px;
	font-size: 30px;
	font-weight: 600;
	color: white;
	font-size: 20pt;

}

.con4 {
	background-color: yellow;
}

.con5 {
	background-color: green;
}

.con6 {
	background-color: yellow;
}
